<h2>Welcome to <%= title %></h2>

<ul>
  <%listOfPosts.forEach((onePost) => {%>
    <li class="display-box">
      <h3><%=onePost.title%></h3>
      <h5><%=onePost.time%></h5>
      <p><b>Location: </b><%=onePost.location%></p>
      <%if (onePost.contact) {%>
      <p><b>Contact: </b><%=onePost.contact%></p>
    <%}%>
      <p><%=onePost.description%></p>
      <p class="right">Posted by: <b class="name"><%=onePost.owner.fullName%></b></p>
      </p>
    </li>
<%  }) %>
</ul>
