<h2>My Posts</h2>

<ul>
  <%listOfPosts.forEach((onePost) => {%>
    <li class="display-box">
      <h3><%=onePost.title%></h3>
      <h5><%=onePost.time%></h5>
      <p><%=onePost.location%></p>
      <p><%=onePost.description%></p>
      <ul>
        <li class="edit-delete">
          <a href="/my-posts/<%= onePost._id %>/edit">Edit</a>
        </li>
        <li class="edit-delete">
          <a href="/my-posts/<%= onePost._id %>/delete">Delete</a>
        </li>
      </ul>
    </li>
<%  }) %>
</ul>
